*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
.idea/caches/
.idea/codeStyles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/build
/captures
.externalNativeBuild
.idea/
